.indicator {
  position: fixed;
  top: 50%;
  right: 1.5%;
  z-index: 1;
}

.cart-item {
  width: 340px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  overflow-y: auto;
  transition: 0.5s;
  margin-top: 70px;
}

.cart-item-open {
  right: 0;
}
.cart-item-closed {
  right: -340px;
}
