.header-section {
  background-color: #f0f7f7;
  background-image: linear-gradient(
      to bottom,
      rgba(71, 71, 71, 0.52),
      #F0F7F7
    ),
    url(https://i.ibb.co/f2mfBv0/gbtoolsheaderbanner.webp);
  /* <a href="https://ibb.co/drnF1gK"><img src="https://i.ibb.co/f2mfBv0/gbtoolsheaderbanner.webp" alt="gbtoolsheaderbanner" border="0"></a> */
  background-repeat: no-repeat;
  background-position: center;
  height: 700px;
}
